/************ start responsive style ****************/
/* mobile-device */
@media only screen and (max-width: 576px){
    .courser-card .img-fluid{
        width: 100%;
    }
}
@media only screen and (max-width: 768px){
    .carousel-caption {
        top: -5%;
        left: 15%;
    }
  h1{
        font-size: 1.25rem;
        font-weight: 600;
    }
    .carousel-caption p {
        font-size: 0.75rem;
        margin-bottom: 0 !important;
    }
}
@media only screen and (max-width: 992px){
    h1 {
        font-size: 1.25rem;
        font-weight: 600;
    }
}