/************ common css *************/
h1{
    font-size: 4.063rem;
    font-weight: 600;
}
.explore-bg{
    background-color: #F4FAFD;
}
/************ slider-section css start **************/
/* carousel-caption */
.carousel-caption{
    top: 25%;
    left: 15%;
}
.carousel-item img{
    filter: grayscale(100%);
}
/************ studnet-feedback ***************/
.filled{
    color: #F59E0B;
}
.empty{
    color: #FCD34D;
}
.feedback-card h4{
    width: 3rem;
    height: 3rem;
    top: 40%;
    left: -25px;
}
#right-angle{
    width: 3rem;
    height: 3rem;
    top: 40%;
    right: -25px;
}
